<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="styles.css">
  </head>

  
  <body>
    <div id="container" state="<%= state%>"></div>

    <script>
    <%
      if(state == null) {
    %>
      var initialState = null;
    <%
    } else {
    %>
      var initialState = <%- state %>;
    <%
    }
    %>
    </script>

    <script src="./bundle.js"></script>
  </body>
  
  
</html>